.c-searchbar{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 5px;
    .c-select{
        width: 150px;
        background-color: #EEEEEE;
        color: $black-color;
        font-weight: bold;
        text-align: center;
        padding: 0px 0px 0px 15px;
    }
    #header-search-icon{
       background-color: $c-btn-dark-backgroundColor !important;
        i{
            color: $black-color !important;
        }
    }
}